<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-4"><img width="300" src="assets/header.png"></div>
  Nachricht des Servers
  <span *ngIf="message!=null && !error">ist: {{message}}</span>
  <span *ngIf="message!=null && error">konnte nicht ermittelt werden.</span>
  <span *ngIf="message==null">wurde noch nicht ermittelt.</span>
  <button (click)="checkInfo()" class="btn btn-primary">Nachricht <span
  *ngIf="status != null">neu</span> laden</button>
  </div>
